/* Base Styles */
body {
    background-color: #f5f0e6; /* بيج فاتح */
    background-repeat: repeat;
    background-size: auto;
    font-family: 'Poppins', sans-serif;
    transition: all 1s ease-in-out;
}


  .fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
  }
  





/* Header */
.header {
    background-color: #8b5e3c; /* بني متوسط */
    color: white;
    padding: 15px 0;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.li{
    color: #8b5e3c; /* بني متوسط */

}
.header h1 {
    font-size: 2.5rem;
    font-family: 'Courgette', cursive;
}

/* Cards */
.card {
    background-color: #fffaf3; /* بيج أفتح */
    border: 1px solid #d2b48c; /* بني فاتح */
}

.card-header {
    background-color: #8b5e3c;
    color: white;
    font-family: 'Courgette', cursive;
}

/* Buttons */
.btn {
    border-radius: 50px;
    padding: 10px 20px;
}

.btn-success {
    background-color: #8b5e3c;
    border-color: #8b5e3c;
}

.btn-success:hover {
    background-color: #a66b42;
    border-color: #a66b42;
}

/* Links */
a {
    color: #6b3e2e;
}

a:hover {
    color: #a66b42;
}