body {
    background-color: #f7f9fc;
    /* font-family: "Courgette", cursive; */
}
.header {
    background-color: #4e73df;
    color: white;
    padding: 15px 0;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.header h1 {
    font-size: 2.5rem;
}
.btn {
    border-radius: 50px;
    padding: 10px 20px;
}
.btn-success {
    background-color: #1cc88a;
    border-color: #17a673;
}
.btn-success:hover {
    background-color: #17a673;
    border-color: #1cc88a;
}
.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.btn-info:hover {
    background-color: #138496;
    border-color: #117a8b;
}